.list-main{
    left: 15em;
    display: block;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    padding-bottom: 2em;
}

.cell-btn{
    width: 35%;
    text-align: center !important;
}

.btn-edit{
    margin-left: 20px !important;
}